# Dependencies
node_modules
.pnpm-store

# Production build
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
!.env.example

# IDE & Editor files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
